<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<table class="table table-hover table-striped table-bordered">
  <thead class="thead-dark">
  <tr>
    <th (click)="sortId('mobId')" >Mobile Id</th>
    <th (click)="sortName('name')" >Mobile Name</th>
    <th (click)="sortPrice('price')" >Mobile Price</th>
    <th>Action</th>
  </tr>
</thead>
  <tr *ngFor="let i of product">
    <td>{{i.mobId}}</td>
    <td>{{i.mobName}}</td>
    <td>{{ i.mobPrice | currency }}</td>
    <td><button class="btn btn-outline-dark" (click)="del(i)">Delete</button></td>
  </tr>
</table>